.right img {
    border-radius: 50%;
    width: 200px;
}

.right {
    border-radius: 30px;
    align-items: center;
}

.left {
    padding: 20px 35px;
}

body {
    background-color: rgb(255, 255, 255);
}

.FullName {
    background-color: purple;
    color: white;
    display: flex;
    margin-left: 10px;
    padding: 5px 120px;
    border-radius: 15px;
}

* {
    margin: 0;
    padding: 0px
}

.showLeft {
    background-color: purple !important;
    border: 1px solid purple !important;
    text-shadow: none !important;
    color: #fff !important;
    padding: 10px;
}

.btn-left {
    left: 0.4em;
}

.btn-right {
    right: 0.4em;
}

.btn-left,
.btn-right {
    position: absolute;
    top: 0.24em;
}

.dropbtn {
    background-color: #4CAF50;
    position: fixed;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: absolute;
    display: inline-block;
    right: 0.4em;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #E0E0E0
}

textarea {
    padding: 15px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #616161;
    border: 1px solid #F5F5F5;
    font-size: 16px;
    letter-spacing: 1px;
    height: 120px !important;
    width: 100%
}

textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid purple !important;
    outline-width: 0 !important
}

select {
    border: none;
    font-size: 15px;
    background-color: #fff !important
}

select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0 !important
}

::placeholder {
    color: #BDBDBD
}

:-ms-input-placeholder {
    color: #BDBDBD
}

::-ms-input-placeholder {
    color: #BDBDBD
}

.btn-success {
    border-radius: 50px;
    padding: 4px 40px
}

.options {
    font-size: 23px;
    color: #757575;
    cursor: pointer
}

.options:hover {
    color: #000
}

.dropdown-content {
    display: none;
    position: relative;
    margin-top: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: purple;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: purple;
    color: white;
}

.show {
    display: inline-grid;
}

.parent {
    margin-top: 10px;
    width: 1050px;
    scroll-snap-type: y proximity;
    flex-basis: 100%;
    max-height: 55vh;
    overflow-y: scroll;
}

.parent li {
    border-bottom: 1px solid white;
    color: rgba(white, .5);
    background: lightgray;
    scroll-snap-align: start;
    display: flex;
    flex-flow: column;
}